@import url('/meinerschrift.otf');

@font-face { font-family: 'meine-schrift';
             src: url('meinerschrift.otf') format('truetype'); }

body{
  background-color: #001e32;
  height: 100%;
  text-shadow:  1px 1px 2px black;
}

html{
  height: 100%;
}

.clickable-element{
  cursor: pointer;
}

.wp{
    min-height:35%;
    background-image:url('panorama.jpg');
    background-size:cover;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.spacer{
  margin: auto;
  width: 50%;
  background-color: #44A2D2;
  border-radius: 1000px;
}

#lower{
  text-align: center;
  position: relative;
  margin-top: 500px;
  background-color: white;
  height: 1000px;
}

#lower h3{
  font-size: 40px;
  color: white;
  padding-top: 100px;
}

#lower p{
  font-size: 28px;
}

#lower a{
  color:inherit;
}

   #container {
        width: 100%;
        background-image:url('panorama.jpg');
        background-size:cover;
        background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }

    #c_abt{
      height: 0px;
      visibility: hidden;
    }

    #c_abt:hover{
      background-color: #3B4A65;
    }

    #c_left {
      float: left;
      width: 50%;
      text-align: center;
      background-color: #012840;
      /*background-color: #407BB2;*/
      padding: 0px;
      /*background-color: rgba(0, 70, 173, 0.5);
      -webkit-backdrop-filter: blur(4px);
      -o-backdrop-filter: blur(4px);
      -moz-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);*/
    }

    #c_left:hover{
      background-color: #3B4A65;
    }

    #c_left p{
      font-size: 70px;
      line-height: 350px;
    }

    #c_right {
      float: right;
      width: 50%;
      background-color: #012840;
      /*background-color: #44A2D2;*/
      text-align: center;
      padding: 0px;
      /*backgroud-color: rgba(0, 200, 255, 0.5);
      -webkit-backdrop-filter: blur(4px);
      -o-backdrop-filter: blur(4px);
      -moz-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);*/
    }

    #c_right:hover{
      background-color: #3B4A65;
    }

    #c_right p{
      font-size: 70px;
      line-height: 350px;
    }

@media only screen and (max-width: 575px) {

  .wp{
      position: absolute;
      width: 98%;
      height:200%;
      background:green;
      background-image:url('panorama.jpg');
      background-size:cover;
      background-attachment: scroll;
  }

.spacer{
  background-color: transparent;
}

  #lower{
    width: 0%;
    visibility: hidden;
  }

  #container {
      width: 100%;
      margin: 0 auto;
      position: relative;
      top: 400px;
      background-image:none;
      background-size:cover;
      background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  #c_abt {
    visibility: visible;
    margin: auto;
    border-radius: 25px;
    width: 75%;
    height: 250px;
    text-align: center;
    float:none;
    background-color: rgba(0, 70, 173, 0.5);
    -webkit-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

  }

  #c_abt p{
    font-size: 40px;
    line-height: 250px;
  }

  #c_left {
    margin: auto;
    border-radius: 25px;
    width: 75%;
    height: 250px;
    text-align: center;
    float:none;
    background-color: rgba(0, 70, 173, 0.5);
    -webkit-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

  }

  #c_left p{
    font-size: 40px;
    line-height: 250px;
  }

  #c_right {
    margin: auto;
    border-radius: 25px;
    width: 75%;
    height: 250px;
    text-align: center;
    float:none;
    background-color: rgba(0, 200, 255, 0.5);
    -webkit-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

  #c_right p{
    font-size: 40px;
    line-height: 250px;
  }
}

h1{
  cursor: pointer;
  letter-spacing: 3px;
  font-family: meine-schrift;
  font-size: 70px;
  color: #44A2D2;
  text-align: center;
}

p{
  letter-spacing: 1px;
  font-family: meine-schrift;
  font-size: 18px;
  color: white;
}

.backbutton {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1px;
  font-family: meine-schrift;
  font-size: 19px;
  color: #44A2D2;
  text-align: left;
}
